<div class=" container p-4" >
  <h2> Add new Recipe to <%= @category.name %></h2>
  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :recipe %>
    <%= f.submit "Add Recipe", class: "btn btn-primary" %>
  <% end %>
  <p class="mt-3 " ><%= link_to "back to #{@category.name} category", category_path(@category), class: "btn btn-secondary" %></p>
</div>
