<%# banner %>
<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "banner.jpg" %> ) ">
  <div class="content">
    <h1>CookBook</h1>
    <h3>Save your favourite recipe</h3>
  </div>`
</div>

<%# Categories head%>
 <div class="container w-75 p-4">
  <div class="cat-head mt-5">
    <h2>List of category</h2>
    <span><%=  link_to "Add category",  new_category_path, class: "btn btn-warning"%></span>
  </div>

  <%# categories cards %>
  <div class="card-list container mt-5">

      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>

          <div class="card-category" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "banner.jpg" %> )">
              <div>
                <h3><%= category.name %></h3>
                <p> <%= category.bookmarks.count%> recipes</p>
              </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
