<%# banner %>

<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "breakfast.jpg" %> ) ">
  <h1><%= @category.name %></h1>
</div>

<div class="container w-75">

<%# recipe head %>
 <div class=" cat-head mt-5">
    <h2>List of category</h2>
    <span><%=  link_to "Add Recipe",   new_category_bookmark_path(@category), class: "btn btn-warning"%></span>
  </div>

  <%# recipe cards %>
  <div class="card-list my-5">

    <%@category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">
        <span><%= image_tag "#{bookmark.recipe.image_url}"%></span>
        <h3 class="mt-3 px-3"><%= bookmark.recipe.name %> </h3>
        <p class="px-3"><%= bookmark.recipe.description.truncate(100) %></p>
        <div class="review">
          <p class="px-3"> <i class="fa-solid fa-quote-left"></i> <%=  bookmark.comment %></p>
          <p class="px-3"><%= bookmark.recipe.rating %> <%=  'â­' * bookmark.recipe.rating.to_i %></p>

        </div>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}, class: "delete " do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    <% end %>

  </div>


</div>
